/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px; /* this is the container size for the whole slideshow, adjust as needed (50% or 500px is good) */
    position: relative; /* positioning for navigation dots */

}

.slider {
    white-space: nowrap;
    overflow: hidden;
    width: 100%; /* full width slider */
    border-radius: 10px; /* added this in because when a new image is loaded, it initially displays without 
                            the border-radius until it's fully loaded and displayed with the border-radius applied */
    
}

.slide {
    display: inline-block;
    width: 100%; /* each slide takes up the full width of the container */
    height: 300px; /* to set a fixed height for all slides */
    position: relative; /* needed for positioning */
    border-radius: 10px;

}

.slide img {
    width: 100%; /* to sure the image fills the entire width of the slide */
    height: 100%; /* to make the height of the image fill its container */
    object-fit: cover; /* image maintains its aspect ratio and covers the container */
    border-radius: 10px;
}

/* dots in the slideshow */
.slideDots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
}

/* we used a list to create the dots, might have to use an alternative */
.slideDots li {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px; /* spacing between dots */
    cursor: pointer;
}
  
.slideDots li.active {
    background-color: #fa5e03;
}
/* ----- This is to adjust the position of the slideSHow -----*/
@media (min-width: 768px) { /* Adjust the breakpoint as needed */
    .slideshow {
        margin-top: 5rem; /* Adjust as needed */
    }
}